* {
	margin: 0;
	padding: 0;
}

#logo {
	background: url(https://www.googledrive.com/host/0B5gPzqRs9VWzMzE4OUpxWmFsczQ/spritely_logo.png) 0 0 no-repeat;
	width: 550px;
	height: 400px;
	position: absolute;
	top: 0px;
	left: 25px;
	z-index: 1900;
		text-indent: -9999px;
}
#container  {
	min-width:900px;
	padding-top:359px;
	position:relative;
	width:100%;
}
#mainContent {
	padding: 40px 30px 30px 30px;
}
#mainContent h1 {
	text-align: -9999px;
	height: 0;
	overflow: hidden;
	margin: 0;
}
#content {
	margin-right: 250px;
}
#sidebar {
	position: absolute;
	top: 448px;
	width: 200px;
	right: 30px;
}
.panel {
	margin-bottom: 2em;
	display: none;
}
